<%- include('../partials/header') %>
<%- include('../partials/navbar') %>

<div class="container text-center mt-5">
  <h2 class="text-danger">🚫 403 - Forbidden</h2>
  <p>You are not authorized to view this page.</p>
  <a href="/" class="btn btn-secondary mt-3">Go to Home</a>
</div>

<%- include('../partials/footer') %>
